.burger {
  display: none;
  position: absolute;
  padding: 30px;
  z-index: 17;
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 28.2px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #ffffff;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),background-color 4s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),background-color 4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),background-color 4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty {
  background-color: #3e3e3e;
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 16;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  overflow: hidden;
}

.menu__list {
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 50%;
  background: #fff;
  list-style-type: none;
  -webkit-transform: translate3d(100%, 100%, 0);
          transform: translate3d(100%, 100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);

  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu__brand {
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: transform 1ms;
      transition: transform 1ms;
}

.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  filter: alpha(opacity=1);
  -webkit-transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
          transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: gray;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}

.menu__contact {
  text-align: center;
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: rgb(106, 179, 223);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__contact:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__contact:hover:before {
  width: 100%;
}
/*.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}*/

@media screen and (max-width: 480px) {
  .burger {
    padding: 30px 2.5px;
  }
}

@media screen and (max-width: 768px) {

  .burger--close .burger__patty {
    background: #fff;
  }

  ul.menu__list {
    float: none;
    min-height: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  div.menu__brand {
    width: 100%;
    float: none;
    min-height: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: transform 1ms;
        transition: transform 1ms;
  }

  ul.menu__list--active{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }

  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=1);
    -webkit-transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
            transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu__list {
    position: absolute;
    z-index: 100;
    top: 25%;
    left: 0;
    right: 0;
    width: 95%;
    margin: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-height: 380px) {
  .menu__list, .menu__contact{
    font-size: 0.9em !important;
  }

  .menu__item:last-child{
    margin-top: 56.2px;
  }

  .logo img{
    width: 35% !important;
  }
}
