<div class="corsario-footer-style-3 footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-12 corsario-footer-widget text-center">
        <a href="./index.html" class="svg-white svg-container">{% include svg/logo-corsario.svg %}</a>
      </div>
      <div class="col-md-3 col-sm-5 col-xs-12 corsario-footer-widget text-white text-center">
        <br>
        <h5 class="subtitle">CONSULTORIA DE SOFTWARE</h5>
        <a class="nav-contact-item" itemprop="telephone" id="nav-phone" href="tel:+18443100257">
          <i aria-hidden="true" class="icn--phone"></i>
          <span>+58424.860.2030</span>
        </a>
        <span class="nav-contact-divider">|</span>
        <a class="nav-contact-item" itemprop="email" id="nav-email" href="mailto:hello@corsarioestudio.co?Subject=Hey,%20Corsario!"><i aria-hidden="true" class="icn--email"></i><span>hello@corsarioestudio.co</span></a>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12 col-md-offset-1 corsario-footer-widget text-center">
        <br>
        <ul class="corsario-links corsario-social">
          <li><a href="#"><i class="icon icon-facebook2"></i></a></li>
          <li><a href="#"><i class="icon icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon icon-instagram"></i></a></li>
        </ul>
      </div>

      <div class="col-md-12 col-sm-12 corsario-footer-widget text-center">
        <ul data-offcanvass="yes"  class="corsario-links text-white">
          <li><a href="#"><h5>Proyectos</h5></a></li>
          <li><a href="#"><h5>Nosotros</h5></a></li>
          <li><a href="#"><h5>Proceso</h5></a></li>
          <li><a href="#"><h5>Blog</h5></a></li>
          <li><a href="#"><h5>Contacto</h5></a></li>
        </ul>
        <div class="clearfix visible-xs-block"></div>
        <p class="corsario-copyright text-center col-xs-12" style="float:right;">&copy; 2016 Corsario Estudio. <br>All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
  <!-- END footer -->
