<div data-height-perc="60">
  <div class="footer bg-gradient" data-height-perc="60">
    <div class="corsario-overlay"></div>
    <div class="ship-illustration back"></div>
    <div class="col-md-12 info">
      <h5>CONTACTANOS</h5>
        <h4>ahoy@corsarioestudio.com</h4>
          <h2>TE ESPERAMOS PARA ABORDAR</h2>
    </div>
    <div class="row fore col-sm-12">
      <div class="row fore col-sm-6" data-height-perc="60">
        <ul class="corsario-links corsario-social center-absolute">
          <li><a href="#"><i class="icon icon-facebook2"></i></a></li>
          <li><a href="#"><i class="icon icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <span class="scroll-btn to-top fadeInUp hidden-xs">
      <a href="#">
        <span class="ancla">
          <img src="images/ancla.svg" />
        </span>
      </a>
      <br/>
    </span>
  </div>
</div>
<!-- END footer -->
