<header clarss="header">
  <div class="burger">
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
  </div>

  <nav class="menu">
    <div class="menu__brand" data-height-perc="100" data-height-triggered-perc="25" data-trigger-width="768">
      <div class="corsario-overlay"></div>

      <div class="logo"><a href="./index.html" class="svg-white svg-container">{% include logo-corsario.svg %}</a></div>
      <div class="svg-container" style="z-index:10;">
        {% include illustration-ship.svg %}
      </div>
    </div>

    <ul class="menu__list" data-height-perc="100" data-height-triggered-perc="75" data-trigger-width="768">
      <li class="menu__item"><a href="" class="menu__link">Proyectos</a></li>
      <li class="menu__item"><a href="./about.html" class="menu__link">Nosotros</a></li>
      <li class="menu__item"><a href="" class="menu__link">Proceso</a></li>
      <li class="menu__item"><a href="" class="menu__link">Blog</a></li>
      <li class="menu__item"><a href="" class="menu__link">Contacto</a></li>
      <!-- <li class="menu__item">
      <a href="https://twitter.com/ettrics" target="_blank" class="menu__link menu__link--social"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="menu__item">
    <a href="https://dribbble.com/ettrics" target="_blank" class="menu__link menu__link--social">
    <i class="fa fa-dribbble"></i></a>
  </li> -->
</ul>
</nav>

<nav class="corsario-nav-style-1" role="navigation" data-offcanvass-position="corsario-offcanvass-right">
  <div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 corsario-logo text-center">
      <a href="./index.html" class="svg-white svg-container">{% include logo-corsario.svg %}</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 corsario-logo">
      <br>
      <h5 class="subtitle">CONSULTORIA DE SOFTWARE</h5>
      <a class="nav-contact-item" itemprop="telephone" id="nav-phone" href="tel:+584248602030">
        <i aria-hidden="true" class="icn--phone"></i>
        <span>+58424.860.2030</span>
      </a>
      <span class="nav-contact-divider text-white">|</span>
      <a class="nav-contact-item" itemprop="email" id="nav-email" href="mailto:hello@corsarioestudio.com?Subject=Hey,%20Corsario!"><i aria-hidden="true" class="icn--email"></i><span>hello@corsarioestudio.com</span></a>
    </div>
  </div>
</nav>

</header>
